@media(min-width: 992px) {
    .demandCircle {
        width: 200px;
        height: 200px;
    }
}

@media(max-width: 992px) {
        .demandCircle {
        width: 100px;
        height: 100px;
    }
}
